@import "reset.css";

.m0a{
    margin: 0 auto;
  }

.header_page{
    background-color: #AA0601;
}

@media(max-width:798px){
    .header_page{
        background-color: #000000;
    }
}

.header_navigation_bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1296px;
}

.header_navigation_bar img{
    height: 48.57px;
}

.header_navigation_bar ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 412px;
    font-family: Noto Sans TC;
    font-size: 20px;
    line-height: 30px;
    color: #FFFFFF;
    padding-top: 25px;
    padding-bottom: 25px;
}

.banner{
    background-image: url(https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/home-header.png);
    background-size: cover;
	background-position: center;
    height: 787px;
}

.banner_production{
    padding-top: 296px;
    max-width: 1296px;
}

.banner_production h2{
    color: #650300;
    font-family: Noto Sans TC;
    font-size: 36px;
    line-height: 54px;
    text-align: right;

}

.banner_production h1{
    color: #650300;
    font-family: Noto Sans TC;
    font-size: 64px;
    line-height: 96px;
    font-weight: bold;
    text-align: right;
    margin-bottom: 4px;
}

.buttom_buy{
    background-color: #AA0601;
    height: 41px;
    width: 104px;
    float: right;
    margin-bottom: 296px;
}

.buttom_buy p{
    font-family: Noto Sans TC;
    font-size: 20px;
    line-height: 30px;
    color: #FFFFFF;
    text-align: center;
    padding-top: 5.5px;
}

.about_us{
    background-color: #FBF2F2;
}

.about_us h2{
    color: #650300;
    font-family: Noto Sans TC;
    font-size: 48px;
    line-height: 72px;
    text-align: center;
    font-weight: bold;
    padding-bottom: 32.33px;
    padding-top: 80px;
}

.about_us_items{
    display: flex;
    max-width: 1296px;
    justify-content: space-between;
    padding-bottom: 80px;
}

.item{
    width: 24%;
}

.item img{
    width: 83.83px;
    height: 83.83px;
    display: block;
}

.item h3{
    color: #650300;
    font-family: Noto Sans TC;
    font-size: 24px;
    line-height: 36px;
    font-weight: bold;
    text-align: center;
    padding-top: 24.33px;
    padding-bottom: 8px;
}

.item p{
    color: #000000;
    font-family: Noto Sans TC;
    font-size: 16px;
    line-height: 24px;
}


.classical_glasses h2{
    color: #650300;
    font-family: Noto Sans TC;
    font-size: 48px;
    line-height: 72px;
    font-weight: bold;
    text-align: center;
    padding-top: 80px;
    padding-bottom: 48px;
}

.glasses_category{
    display: flex;
    max-width: 1296px;
    justify-content: space-between;
    padding-bottom: 80px;
}

.category{
    max-width: 416px;
}

.category img{
    height: auto;
    max-width: 100%;
    margin-bottom: 8px;
}

.category p{
    color: #AA0601;
    font-family: Roboto;
    font-size: 48px;
    line-height: 72px;
    font-weight: bold;
    text-align: center;
}

.spectacles_frame{
    background-image: url(https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/index-bg.png);
    background-size: cover;
	background-position: center;
    height: 608px;
}

.spectacles_frame h2{
    color: #FFFFFF;
    font-family: Noto Sans TC;
    font-size: 48px;
    line-height: 72px;
    font-weight: bold;
    text-align: center;
    padding-top: 80px;
    padding-bottom: 48px;
}

.frame_style{
    display: flex;
    justify-content: space-between;
    max-width: 1296px;
}

.style{
    background-color: #FFFFFF;
}

.style img{
    max-width: 100%;
}

.style p{
    color: #AA0601;
    font-family: Roboto;
    font-size: 48px;
    line-height: 72px;
    font-weight: bold;
    text-align: center;
}

.recommend{
    height: 791px;
}

.recommend h2{
    color: #650300;
    font-family: Noto Sans TC;
    font-size: 48px;
    line-height: 72px;
    font-weight: bold;
    text-align: center;
    padding-top: 80px;
    padding-bottom: 48px;
}

.customer_opinion{
    display: flex;
    max-width: 1296px;
    justify-content: space-between;
}

.opinion{
    max-width: 306px;
    border-radius: 0 0 4px 4px;
    box-shadow: 0px 2px 6px #00000029;
}

.opinion img{
    max-width: 100%;
    height: auto;
    margin-bottom: 16px;
    border-radius: 4px 4px 0 0;
}

.opinion h3{
    color: #000000;
    font-family: Noto Sans TC;
    font-size: 16px;
    line-height: 24px;
    padding-left: 16px;
    padding-bottom: 8px;
}

.opinion p{
    color: #707070;
    font-family: Noto Sans TC;
    font-size: 14px;
    line-height: 21px;
    padding-left: 16px;
    padding-top: 64px;
    padding-bottom: 16px;
}

.contact{
    background-color: #FBF2F2;
    padding-bottom: 80px;
}

.contact h2{
    color: #650300;
    font-family: Noto Sans TC;
    font-size: 48px;
    line-height: 72px;
    font-weight: bold;
    text-align: center;
    padding-top: 80px;
    padding-bottom: 48px;
}

.contact h3{
    color: #000000;
    font-family: Noto Sans TC;
    font-size: 20px;
    line-height: 30px;
    padding-bottom: 24px;
    max-width: 636px;
}

.contact h4{
    color: #000000;
    font-family: Noto Sans TC;
    font-size: 16px;
    line-height: 24px;
    max-width: 636px;
    padding-bottom: 8px;
}

.contact_name_placeholder{
    max-width: 636px;
    border: 1px solid #000000;
    margin-bottom: 16px;
    height: 34px;
}

.contact_phone_placeholder{
    max-width: 636px;
    border: 1px solid #000000;
    margin-bottom: 16px;
    height: 34px;
}

.contact_email_placeholder{
    max-width: 636px;
    border: 1px solid #000000;
    margin-bottom: 16px;
    height: 34px;
}

.contact_opinion_placeholder{
    max-width: 636px;
    border: 1px solid #000000;
    margin-bottom: 16px;
    height: 134px;
}

.contact p{
    color: #000000;
    font-family: Noto Sans TC;
    font-size: 16px;
    line-height: 24px;
    opacity: 0.2;
    padding-left: 12px;
    padding-top: 6px;
}

.contact_check{
    max-width: 636px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.contact_check img{
    width: 24px;
}

.contact_check h5{
    color: #000000;
    font-family: Noto Sans TC;
    font-size: 16px;
    line-height: 24px;
    max-width: 636px;
    padding-left: 4px;
}

.buttom_send{
    max-width: 416px;
    background-color: #AA0601;
    padding-top: 16px;
    padding-bottom: 16px;
    margin-top: 40px;
}

.buttom_send h6{
    color: #FFFFFF;
    font-family: Noto Sans TC;
    text-align: center;
    font-size: 16px;
    line-height: 24px;
}

.footer_page{
    background-color: #AA0601;
}

.footer_navigation_bar{
    display: flex;
    justify-content: space-between;
    padding-top: 48px;
    max-width: 1296px;
}

.footer_navigation_bar ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    color: #FFFFFF;
    font-size: 16px;
    line-height: 24px;
    font-family: Noto Sans TC;
}

.footer_navigation_bar li{
    margin-right: 48px;
}

.community{
    display: flex;
}

.community img{
    width: 48px;
    height: 48px;
    margin-left: 32px;
}

.information{
    border-bottom: 1px solid #FFFFFF;
    max-width: 1296px;
}

.information p{
    padding-left: 22px;
    color: #FFFFFF;
    font-size: 36px;
    line-height: 54px;
    font-family: Noto Sans TC;
}

.phone{
    display: flex;
    align-items: center;
    padding-top: 24px;
}

.email{
    display: flex;
    align-items: center;
    padding-top: 8px;
    margin-bottom: 32px;
}

.material-symbols-outlined{
    font-size: 36px;
    color: #FFFFFF;
}

.copyright{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;
    max-width: 1296px;
}

.copyright p{
    color: #FFFFFF;
    font-size: 16px;
    line-height: 21px;
    font-family: Roboto;
}

.copyright ul{
    display: flex;
    justify-content: space-between;
    width: 174px;
    color: #FFFFFF;
    font-size: 14px;
    line-height: 21px;
    font-family: Noto Sans TC;
}